* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-size: 18px;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: $Catamaran;
    @include flex(column, center, space-evenly)
  }
  
ul {
    @include flex(row, center, space-evenly);
}

  a {
    text-decoration: none;
  }

  h1 {
    // align-self: flex-end;
    font-size: 60px;
    font-family: $Montserrat;
    color: darkgray;
  }

  h3, h6 {
    align-self: flex-start;
    font-size: 60px;
    font-family: $Catamaran;
    color: darkgray;
}

  
  .text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

form {
    @include flex(row, center, none);
}